## Step 1: Download and explore the data

In [1]:
import pandas as pd

# Train-test split
from sklearn.model_selection import train_test_split

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read the data
cols = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "class"]
df_car = pd.read_csv('input/car.data', names=cols)
df_car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [4]:
df_car.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

In [5]:
for col in cols:
    print("\nfor {} the value counts are \n{}".format(col, df_car[col].value_counts()))

for buying the value counts are
vhigh    432
high     432
med      432
low      432
Name: buying, dtype: int64

for maint the value counts are
vhigh    432
high     432
med      432
low      432
Name: maint, dtype: int64

for doors the value counts are
2        432
3        432
4        432
5more    432
Name: doors, dtype: int64

for persons the value counts are
2       576
4       576
more    576
Name: persons, dtype: int64

for lug_boot the value counts are
small    576
med      576
big      576
Name: lug_boot, dtype: int64

for safety the value counts are
low     576
med     576
high    576
Name: safety, dtype: int64

for class the value counts are
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

Observation: Data is uniformly distributed on each column except class, which askew towards 'unacc'.